<p id="notice"><%= notice %></p>

<p>
  <b>Action type:</b>
  <%= @user_action.action_type_id %>
</p>

<p>
  <b>Reward:</b>
  <%= @user_action.reward_id %>
</p>

<p>
  <b>Risk:</b>
  <%= @user_action.risk_id %>
</p>

<p>
  <b>Challenge:</b>
  <%= @user_action.challenge_id %>
</p>


<%= link_to 'Edit', edit_user_action_path(@user_action) %> |
<%= link_to 'Back', user_actions_path %>
