<p id="notice"><%= notice %></p>

<p>
  <b>Item type:</b>
  <%= @item.item_type_id %>
</p>

<p>
  <b>Value:</b>
  <%= @item.value %>
</p>


<%= link_to 'Edit', edit_admin_item_path(@item) %> |
<%= link_to 'Back', admin_items_path %>
