%h1 Listing players

%table
  %tr
    %th Name
    %th Location
    %th Level
    %th Sex
    %th Dob
    %th Occupation
    %th
    %th 
    %th 

  - @players.each do |player|
    %tr
      %td= player.name
      %td= player.location
      %td= player.level
      %td= player.gender
      %td= player.dob
      %td= player.occupation
      %td= link_to 'Show', [:admin, player]
      %td= link_to 'Edit', edit_admin_player_path(player)
      %td= link_to 'Destroy', [:admin, player], confirm: 'Are you sure?', method: :delete
%br

= link_to 'New Player', new_admin_player_path
