%h1 Listing places

%table
  %tr
    %th Name
    %th External
    %th Location
    %th
    %th
    %th

  - @places.each do |place|
    %tr
      %td= place.name
      %td= place.external_id
      %td= place.location_id
      %td= link_to 'Show', [:admin, place]
      %td= link_to 'Edit', edit_admin_place_path(place)
      %td= link_to 'Destroy', [:admin, place], confirm: 'Are you sure?', method: :delete

%br

= link_to 'New Place', new_admin_place_path
