%p#notice= notice

%p
  %b Name:
  = @place.name

%p
  %b External:
  = @place.external_id

%p
  %b Location:
  = @place.location_id

= link_to 'Edit', edit_admin_place_path(@place)
|
= link_to 'Back', admin_places_path
