<h1>Listing actions</h1>

<table>
  <tr>
    <th>Action type</th>
    <th>Reward</th>
    <th>Risk</th>
    <th>Challenge</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @actions.each do |action| %>
  <tr>
    <td><%= action.action_type_id %></td>
    <td><%= action.reward_id %></td>
    <td><%= action.risk_id %></td>
    <td><%= action.challenge_id %></td>
    <td><%= link_to 'Show', action %></td>
    <td><%= link_to 'Edit', edit_action_path(action) %></td>
    <td><%= link_to 'Destroy', action, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Action', new_action_path %>
