<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<% player = current_user.current_player %>
<div
    id="app_canvas"
    data-lat="<%= player.location.lat %>"
    data-lng="<%= player.location.lng %>"
    data-zoom="10"
    data-icon="<%= player.avatar_urls[:small] %>"
    data-player-name="<%= player.name %>"
    data-players-url="<%= players_url(format: :json) %>"
    data-player-url="<%= player_url(player.id, format: :json) %>"
    data-player-travel-url="<%= start_travel_player_url(player.id, format: :json) %>"
    data-player-avatar-url="<%= player.avatar_urls[:small] %>"
    data-player-state="<%= player.state %>"
    data-player-destination="<%= player.destination_name %>"
    data-player-travel-time="<%= player.travel_time %>"
    data-player-arrival-time="<%= player.arrival_time %>"
></div>
<%=
    # render "speech"
%>
