<meta name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no">
<!-- script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script -->
<!-- script type="text/javascript" src="js/interface.js"></script -->
<!-- script type="text/javascript" src="js/jquery.form.js"></script -->

<!-- script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script-->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
<script type="text/javascript">


</script>
<style type="text/css">
    html, body, #map_canvas {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    body {
        font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size:11px
    }
    #player_info, #place_info, #speech, #travel_mode {
        position: absolute;
        left:200px;
        top:100px;
        width:500px;
        background-color:#f0f5FF;
        border: 1px solid #000;
        z-index: 50;
    }
    #map_control {
        position: absolute;
        right:50px;
        top:50px;
        width:200px;
        background-color:#f0f5FF;
        border: 1px solid #000;
        z-index: 50;
    }
    #speech-input-field {
        width: 400px;
        height: 50px;
        padding: 10px 15px;
        font-size: 155%;
        border-radius: 10px;
        border: 1px solid #ccc;
        outline: 0;
    }
    .handle {
        background-color:#5588bb;
        padding:2px;
        text-align:center;
        font-weight:bold;
        vertical-align:middle;
    }
    .handle a {
        color: #FFFFFF;
        padding-left:5px;
        padding-right:5px;
    }
    #player_info_content, #place_info_content, #speech_content, #travel_mode_content {
        padding:5px;
    }
    #player_info_close, #place_info_close, #speech_close, #travel_mode_close {
        float:right;
        text-decoration:none;
    }
    h1, h2 {
        font-size:20px;
    }
</style>
</head>
<body>
<!--
<h1>Welcome to Traveler</h1>
<p>Find me in app/views/home/index.html.haml</p>

<p>
  It is now <%= Time.now %>
</p>
<p>
  You are at  <%= Time.now %>
</p>
-->
<div id="map_canvas"></div>
<div id="place_info">
  <div id="place_info_handle" class="handle">
    <a href="#" id="place_info_close">[ x ]</a>
    <a href="#" id="place_info_handle_name">Place Info</a>
  </div>
  <div id="place_info_content">
    <table>
      <tr>
        <td><%= t "place_info.id" %>:</td>
        <td id="place_info_id"></td>
      </tr>
      <tr>
        <td><%= t "place_info.name" %>:</td>
        <td id="place_info_name"></td>
      </tr>
      <tr>
        <td><%= t "place_info.rating" %>:</td>
        <td id="place_info_rating"></td>
      </tr>
      <tr>
        <td><%= t "place_info.travelTimeWALKING" %>:</td>
        <td id="place_info_travelTimeWALKING"></td>
      </tr>
      <tr>
        <td><%= t "place_info.travelTimeBICYCLING" %>:</td>
        <td id="place_info_travelTimeBICYCLING"></td>
      </tr>
      <tr>
        <td><%= t "place_info.travelTimeDRIVING" %>:</td>
        <td id="place_info_travelTimeDRIVING"></td>
      </tr>
      <tr>
        <td><%= t "place_info.travelTimeTRANSIT" %>:</td>
        <td id="place_info_travelTimeTRANSIT"></td>
      </tr>
      <tr>
        <td><%= t "place_info.food_value" %>/<%= t "place_info.food_cost" %>:</td>
        <td><span id="place_info_food_value"></span>/<span id="place_info_food_cost"></span></td>
      </tr>
      <tr>
        <td><%= t "place_info.drink_value" %>/<%= t "place_info.drink_cost" %>:</td>
        <td><span id="place_info_drink_value"></span>/<span id="place_info_drink_cost"></span></td>
      </tr>
<!--
      <tr>
        <td>Entertainment:</td>
        <td id="place_info_entertainment"></td>
      </tr>
      <tr>
        <td>Cost:</td>
        <td id="place_info_cost"></td>
      </tr>
-->
      <tr>
        <td></td>
        <td id=""><input id="place_info_go_walk" type="button" value="<%= t "place_info.go_walk" %>"></td>
      </tr>
      <!-- allow player to have/rent a car - then add driving option -->
      <tr>
        <td></td>
        <td id=""><input id="place_info_go_taxi" type="button" value="<%= t "place_info.go_taxi" %>"></td>
      </tr>
    </table>
  </div>
</div>

<div id="map_control">
  <div id="map_control_handle" class="handle">
    <a href="#" id="map_control_center"><%= t "map_control_center" %></a>
  </div>
</div>

<div id="travel_mode">
  <div id="travel_mode_handle" class="handle">
    <a href="#" id="travel_mode_close">[ x ]</a>
    <a href="#" id="travel_mode_handle_name"><%= t "travel_mode" %></a>
  </div>
  <div id="travel_mode_content">
    Now we're in travel mode. Let's do some challenges to pass the time:
    <div id="challengeXXX">
    </div>
    <div id="challenge_list">
<%
   for counter in 1..@player.level
%>
      <div><a href="#" id="get_challenge_<%= counter %>">level <%= counter %></a></div>
<%
   end
%>
    </div>
  </div>
</div>

<%= render "players/player_info" %>
<%= render "speech" %>


</body>
</html>
