%h1 Listing actions

%table
  %tr
    %th Action type
    %th Reward
    %th Risk
    %th Challenge
    %th
    %th
    %th

  - @user_actions.each do |user_action|
    %tr
      %td= user_action.action_type_id
      %td= user_action.reward_id
      %td= user_action.risk_id
      %td= user_action.challenge_id
      %td= link_to 'Show', [:admin, user_action]
      %td= link_to 'Edit', edit_admin_user_action_path(user_action)
      %td= link_to 'Destroy', [:admin, user_action], confirm: 'Are you sure?', method: :delete

%br

= link_to 'New Action', new_admin_user_action_path
