%p.notice= notice

%p
  %b Action type:
  = @user_action.action_type_id
%p
  %b Reward:
  = @user_action.reward_id
%p
  %b Risk:
  = @user_action.risk_id
%p
  %b Challenge:
  = @user_action.challenge_id

= link_to 'Edit', edit_admin_user_action_path(@user_action)
|
= link_to 'Back', admin_user_actions_path
