<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.datetime_select :dob %>
  </div>
  <div class="field">
    <%= f.label :occupation %><br />
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :energy %><br />
    <%= f.number_field :energy %>
  </div>
  <div class="field">
    <%= f.label :food %><br />
    <%= f.number_field :food %>
  </div>
  <div class="field">
    <%= f.label :water %><br />
    <%= f.number_field :water %>
  </div>
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.number_field :bio %>
  </div>
  <div class="field">
    <%= f.label :money %><br />
    <%= f.number_field :money %>
  </div>
  <div class="field">
    <%= f.label :confidence %><br />
    <%= f.number_field :confidence %>
  </div>
  <div class="field">
    <%= f.label :attractiveness %><br />
    <%= f.number_field :attractiveness %>
  </div>
  <div class="field">
    <%= f.label :charisma %><br />
    <%= f.number_field :charisma %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :intelligence %><br />
    <%= f.number_field :intelligence %>
  </div>
  <div class="field">
    <%= f.label :luck %><br />
    <%= f.number_field :luck %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
