<p id="notice"><%= notice %></p>

<p>
  <b>Location ID:</b>
  <%= @player.location_id %>
</p>

<p>
  <b>Level:</b>
  <%= @player.level %>
</p>

<p>
  <b>Sex:</b>
  <%= @player.sex %>
</p>

<p>
  <b>Dob:</b>
  <%= @player.dob %>
</p>

<p>
  <b>Occupation:</b>
  <%= @player.occupation %>
</p>

<p>
  <b>Energy:</b>
  <%= @player.energy %>
</p>

<p>
  <b>Food:</b>
  <%= @player.food %>
</p>

<p>
  <b>Water:</b>
  <%= @player.water %>
</p>

<p>
  <b>Bio:</b>
  <%= @player.bio %>
</p>

<p>
  <b>Money:</b>
  <%= @player.money %>
</p>

<p>
  <b>Confidence:</b>
  <%= @player.confidence %>
</p>

<p>
  <b>Attractiveness:</b>
  <%= @player.attractiveness %>
</p>

<p>
  <b>Charisma:</b>
  <%= @player.charisma %>
</p>

<p>
  <b>Status:</b>
  <%= @player.status %>
</p>

<p>
  <b>Intelligence:</b>
  <%= @player.intelligence %>
</p>

<p>
  <b>Luck:</b>
  <%= @player.luck %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
