!!!
%html
  %head
    %title Traveler
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true&key=AIzaSyBd2SvRNu_Lf48wvjh7MQZsNisYfi6ae_s"
    = javascript_include_tag "speech"
  %body
    .container{width: "20%"}
      - if notice
        %p.notice= notice
      - if alert
        %p.alert= alert
      #top_nav.row
        #left.col-xs-4
          -# this is a link with a html5 data attribute for javascripts to have access to the controller paths without hard-coding them
          =link_to t("get_players_index"), '#', id: "players_index", data: {ajax_path: players_url}
          #{t "current_player"}:
          %span#current_player
        .center.col-xs-4
          =link_to t("search_map"), '#search', id: "show_search", class: "fancybox", onclick: "return false;"
        .right.col-xs-4
          =t "map_control_center"
    = yield
