!!!
%html
  %head
    %title Traveler
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    = javascript_importmap_tags

    :javascript
      function initialize() {
        // import "controllers/component_controller";

        console.log("hello I am initializing")
      }
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&key=#{Rails.application.credentials[:googlemaps_api_key]}&callback=initialize"
  %body
    .container{width: "20%"}
      - if notice
        %p.notice= notice
      - if alert
        %p.alert= alert
    = yield
